.logo{
    position: relative;
    left : 80px;
    width : 10%;
    top: 25px;
}
.t1{
    position: relative;
    left : 860px;
    color: green;
    bottom: 30px;
    font-weight: lighter;
}
.t2{
    position: relative;
    left : 950px;
    bottom: 70px;
    font-weight: lighter;
}
.t3{
    position: relative;
    left : 1050px;
    bottom: 110px;
    font-weight: lighter;
}
.t4{
    position: relative;
    left : 1180px;
    bottom: 150px;
    font-weight: lighter;
}
.img1{
    width : 40%;
    position: absolute;
    bottom : 40px;
    left : 280px;
}
.head{
    position: relative;
    left: 130px;
    bottom: 40px;
    font-size: 60px;
}
.img2{
    position: absolute;
    top : 180px;
    left : 130px;
}
.t5{
    position: relative;
    left : 130px;
    bottom : 40px;
}
.btn{
    position: relative;
    left : 130px;
    bottom : 20px;
    border-radius: 50px;
    width: 20%;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: green;
    color: white;
    font-size: 30px;
}
.img3{
    position: relative;
    left : 370px;
    bottom : 20px;
}
.img4{
    position: relative;
    left : 400px;
}
.img5{
    position: absolute;
    width : 25%;
    right : 130px;
    top : 190px;
}
.img6{
    position: absolute;
    width : 23%;
    right : 100px;
    top : 230px;
}
.img7{
    position: absolute;
    width : 23%;
    right : 100px;
    top : 150px;
}